@font-face {
   font-family: Marvel;
   src: url("Marvel-Regular.ttf");
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   background-color: #202020;
   font-family: 'Roboto', sans-serif;
   ;
}
.title{
   width: 250px;
   height: 85px;
   margin: 30px auto;
   display: flex;
   align-items: center;
   justify-content: center;
   background-color: #EE1A26;

}
.title h1{
   font-family: Marvel;
   font-weight: 100;
   font-size: 100px;
   padding-top: 20px;
   text-transform: uppercase;
   color: white;
}

/* Input */

.search{
   width: 40%;
   display: flex;
   flex-direction: column;
   margin: 20px auto;
}
.searchInput{
   font-size: 15px;
   font-weight: bolder;
   padding: 10px;
   border-radius: 2px;
   outline: 0;
   border: 0;
   color:  #202020;
   background-color:#f1f1f1 ;
}
.searchLabel{
   padding-left: 10px;
   color: #f1f1f1;
}

/* card */

.cards{
   background-color: darkgoldenrod;
   width: 80%;
   
   margin: 0 auto;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.card{
   margin: 5px;
   width: 250px;
   height: 400px;
   background-color: teal;
   display: flex;
   flex-direction: column;
   align-items: center;
}
.card .name{
   width: 100%;
   height: 80px;
   background-color: tomato;
   text-align: center;
   margin-bottom: 10px;
}
.card img{
   width: 200px;
}


/* Card info character */

.cardInfo{
   position: fixed;
   top: -100%;
   left: 50%;
   transform: translate(-50%,-50%);
   width: 900px;
   height: 600px;
   display: flex;
   flex-direction: column;
   align-items: center;
   background-color: darkolivegreen;
   transition: top 0.4s ease-in;
}
.animCard{
   top : 50%

}
.nameCardInfo{
   margin: 20px 0;
   font-size: 45px;
   text-align: center;
}
.descriptionCard{
   width: 80%;
   background-color: darkorange;
   display: flex;
   justify-content: space-around;
}
.description{
   width: 50%;
   align-self: center;
}
.description::first-letter{
   font-size: 3rem;
}
.logoCardInfo{
   width: 40%;
}

@media screen and (max-width:500px){
   .cardInfo{
      position: fixed;
      width: 300px;
      height: auto;
      min-height: 400px;
      background-color: darkred;
   }
   .descriptionCard{
      width: 80%;
      flex-direction: column;
      align-items: center;
   }
   .logoCardInfo{
      width: 60%;
   }
   .description{
      width: 90%;
      background-color: darkslateblue;
      align-self: center;
      justify-self: center;
      font-size: 14px;
      margin-bottom: 10px;
   }
   .nameCardInfo{
      margin: 20px 0;
      font-size: 8vw;
      text-align: center;
   }
   .animCard{
      top : 50%
   
   }
} 





